:host { display: block; }

.fr {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__center {
    display: flex;
    justify-content: center;
    padding: 48px 0;
  }

  &__section {
    display: block;
  }

  &__questions-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    @media (min-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
