<app-legal-page [title]="'legal.terms.title' | translate" [lastUpdated]="'legal.terms.updated_date' | translate">

  <h2>{{ 'legal.terms.s1_title' | translate }}</h2>
  <p>{{ 'legal.terms.s1_body' | translate }}</p>

  <h2>{{ 'legal.terms.s2_title' | translate }}</h2>
  <p>{{ 'legal.terms.s2_body' | translate }}</p>

  <h2>{{ 'legal.terms.s3_title' | translate }}</h2>
  <p>{{ 'legal.terms.s3_body' | translate }}</p>
  <ul>
    <li>{{ 'legal.terms.s3_item1' | translate }}</li>
    <li>{{ 'legal.terms.s3_item2' | translate }}</li>
    <li>{{ 'legal.terms.s3_item3' | translate }}</li>
  </ul>

  <h2>{{ 'legal.terms.s4_title' | translate }}</h2>
  <p>{{ 'legal.terms.s4_body' | translate }}</p>
  <p>{{ 'legal.terms.s4_body2' | translate }}</p>

  <h2>{{ 'legal.terms.s5_title' | translate }}</h2>
  <p>{{ 'legal.terms.s5_body' | translate }}</p>

  <h2>{{ 'legal.terms.s6_title' | translate }}</h2>
  <p>{{ 'legal.terms.s6_body' | translate }}</p>

  <h2>{{ 'legal.terms.s7_title' | translate }}</h2>
  <p>{{ 'legal.terms.s7_body' | translate }}</p>

  <h2>{{ 'legal.terms.s8_title' | translate }}</h2>
  <p>{{ 'legal.terms.s8_body' | translate }}</p>

  <h2>{{ 'legal.terms.s9_title' | translate }}</h2>
  <p>{{ 'legal.terms.s9_body' | translate }}</p>

</app-legal-page>
