<div class="sc">
  <div class="sc__header">
    <app-icon class="sc__grip" name="grip-vertical" [size]="16" />

    @if (isEditing()) {
      <input
        class="sc__title-input"
        type="text"
        [value]="editTitle()"
        (blur)="onTitleBlur($event)"
        (keydown)="onTitleKeydown($event)"
      />
    } @else {
      <span class="sc__title" (dblclick)="startEdit()">{{ section().title }}</span>
    }

    <span class="sc__question-count">{{ section().questions.length }}</span>

    <div class="sc__actions">
      <button class="sc__action-btn" type="button" (click)="startEdit()" [title]="'common.edit' | translate">
        <app-icon name="edit-2" [size]="14" />
      </button>
      <button class="sc__action-btn sc__action-btn--danger" type="button" (click)="confirmDelete()" [title]="'common.delete' | translate">
        <app-icon name="trash-2" [size]="14" />
      </button>
    </div>
  </div>

  <div class="sc__body">
    @if (section().questions.length === 0) {
      <div class="sc__empty">
        {{ 'builder.section_empty' | translate }}
      </div>
    } @else {
      @for (q of section().questions; track q.id) {
        <div
          class="sc__question"
          role="button"
          tabindex="0"
          [class.sc__question--selected]="selectedQuestionId() === q.id"
          (click)="onQuestionClick(q.id)"
          (keydown.enter)="onQuestionClick(q.id)"
          (keydown.space)="onQuestionClick(q.id)"
        >
          <div class="sc__q-header">
            <app-icon class="sc__q-grip" name="grip-vertical" [size]="13" />
            <span class="sc__q-badge">{{ 'builder.type.' + q.type | translate }}</span>
            <span class="sc__q-title">{{ q.title }}</span>
            <button
              class="sc__q-delete"
              type="button"
              (click)="onDeleteQuestion($event, q.id)"
              [title]="'common.delete' | translate"
            >
              <app-icon name="trash-2" [size]="13" />
            </button>
          </div>

          @if (getCanvasDef(q.type)?.canvasComponent) {
            <div class="sc__q-preview">
              <ng-container
                [ngComponentOutlet]="getCanvasDef(q.type)!.canvasComponent"
                [ngComponentOutletInputs]="getCanvasInputs(q.id)"
              />
            </div>
          }
        </div>
      }
    }
  </div>
</div>

<app-confirm-dialog
  [isOpen]="showDeleteConfirm()"
  [title]="'builder.section_delete_title' | translate"
  [message]="'builder.section_delete_message' | translate"
  [confirmLabel]="'common.delete' | translate"
  (confirmed)="doDelete()"
  (cancelled)="cancelDelete()"
/>
