<div class="pp">
  <div class="pp__header">
    <span class="pp__header-title">{{ 'builder.properties_title' | translate }}</span>
    @if (questionTypeLabelKey()) {
      <span class="pp__type-chip">{{ questionTypeLabelKey()! | translate }}</span>
    }
  </div>

  <ng-container #outlet />

  @if (!hasQuestion()) {
    <div class="pp__empty">
      <app-icon name="info" [size]="28" />
      <span class="pp__empty-title">{{ 'builder.properties_empty' | translate }}</span>
      <span class="pp__empty-sub">{{ 'builder.properties_empty_subtitle' | translate }}</span>
    </div>
  }
</div>
