<div class="qp">
  <app-question-base-fields
    [question]="question()"
    [titlePlaceholder]="'builder.prop.info_title_placeholder' | translate"
    [showRequired]="false"
    [showDescription]="false"
    [showTimeLimit]="false"
    (titleChange)="onTitleChange($event)"
  />

  <div class="qp__divider"></div>

  <fieldset class="qp__locked-group" [disabled]="locked()">
    <div class="qp__field">
      <label class="qp__label" for="qp-content">{{ 'builder.prop.info_content' | translate }}</label>
      <textarea
        id="qp-content"
        class="qp__textarea"
        rows="5"
        [value]="$any(question().config['content']) ?? ''"
        [placeholder]="'builder.prop.info_content_placeholder' | translate"
        (blur)="onContentBlur($event)"
      ></textarea>
    </div>
  </fieldset>
</div>
