@if (isMobile()) {
  <div class="fb__mobile-block">
    <app-icon name="monitor" [size]="48" />
    <span class="fb__mobile-block-title">{{ 'builder.mobile_block_title' | translate }}</span>
    <span class="fb__mobile-block-sub">{{ 'builder.mobile_block_subtitle' | translate }}</span>
    <button class="fb__mobile-block-btn" type="button" (click)="goToForms()">
      {{ 'builder.mobile_block_action' | translate }}
    </button>
  </div>
} @else if (loading()) {
  <div class="fb__loading">
    <app-icon name="file-text" [size]="32" />
    <span>{{ 'common.loading' | translate }}</span>
  </div>
} @else if (loadError()) {
  <div class="fb__error">
    <app-icon name="alert-circle" [size]="32" />
    <span>{{ 'builder.error.load' | translate }}</span>
  </div>
} @else if (form()) {
  <div class="fb">
    <app-builder-topbar
      [form]="form()!"
      (nameChanged)="onNameChanged($event)"
      (publishClicked)="onPublishClicked()"
    />

    <div class="fb__body">
      <div class="fb__left">
        <app-field-types-panel (typeSelected)="onTypeSelected($event)" />
      </div>

      <app-builder-canvas
        [form]="form()!"
        [selectedQuestionId]="selectedQuestionId()"
        [activeSectionId]="activeSectionId()"
        [formType]="form()!.type"
        (sectionAdded)="onSectionAdded($event)"
        (sectionUpdated)="onSectionUpdated($event)"
        (sectionDeleted)="onSectionDeleted($event)"
        (sectionsReordered)="onSectionsReordered($event)"
        (sectionActivated)="activeSectionId.set($event)"
        (questionSelected)="onQuestionSelected($event)"
        (questionDeleted)="onQuestionDeleted($event)"
        (questionMoved)="onQuestionMoved($event)"
        (questionChanged)="onCanvasQuestionChanged($event)"
      />

      <div class="fb__right">
        @if (drawerOpen()) {
          <app-conditional-logic-drawer
            [question]="selectedQuestion()"
            [formSections]="form()!.sections"
            (saved)="onConditionalLogicSaved($event)"
            (closed)="drawerOpen.set(false)"
          />
        } @else {
          <app-properties-panel
            [question]="selectedQuestion()"
            [formType]="form()!.type"
            [formSections]="form()!.sections"
            [currentSectionId]="activeSectionId()"
            (questionChanged)="onQuestionChanged($event)"
            (conditionalLogicClicked)="drawerOpen.set(true)"
            (sectionChanged)="onMoveQuestionToSection($event)"
          />
        }
      </div>
    </div>
  </div>
}
