@if (matchingForms().length === 0) {
  <app-empty-state
    icon="file-text"
    [title]="'convocatorias.wizard.form_selector.empty_title' | translate"
    [subtitle]="'convocatorias.wizard.form_selector.empty_subtitle' | translate" />
} @else {
  <div class="sfs__field">
    <label class="sfs__label" for="sfs-select">
      {{ 'convocatorias.wizard.form_selector.label' | translate }}
    </label>
    <app-select
      id="sfs-select"
      [options]="options()"
      [value]="selectedFormId() ?? ''"
      (changed)="onChange($event)" />
  </div>
}
