<div class="sbi__field">
  <label class="sbi__label" for="sbi-name">
    {{ 'convocatorias.wizard.basic_info.name_label' | translate }}
  </label>
  <input
    id="sbi-name"
    class="sbi__input"
    type="text"
    [placeholder]="'convocatorias.wizard.basic_info.name_placeholder' | translate"
    [value]="name()"
    (input)="onNameInput($any($event.target).value)"
    autocomplete="off"
  />
</div>

<div class="sbi__field">
  <span class="sbi__label">{{ 'convocatorias.wizard.basic_info.type_label' | translate }}</span>
  <div class="sbi__type-options">
    @for (opt of processTypeOptions; track opt.value) {
      <button
        type="button"
        class="sbi__type-option"
        [class.sbi__type-option--selected]="processType() === opt.value"
        (click)="selectProcessType(opt.value)"
      >
        <span class="sbi__type-name">{{ opt.labelKey | translate }}</span>
        <span class="sbi__type-desc">{{ opt.descKey | translate }}</span>
      </button>
    }
  </div>
</div>
