<app-card>
  <div class="st">
    <h3 class="st__title">{{ 'account.security.title' | translate }}</h3>
    <p class="st__description">{{ 'account.security.description' | translate: { email } }}</p>

    <app-button [loading]="sending()" (click)="sendResetEmail()">
      {{ 'account.security.send_button' | translate }}
    </app-button>

    @if (sent()) {
      <p class="st__success">{{ 'account.security.sent' | translate }}</p>
    }
    @if (errorKey()) {
      <p class="st__error">{{ errorKey()! | translate }}</p>
    }
  </div>
</app-card>
