<app-card>
  <div class="st">
    <h3 class="st__title">{{ 'account.security.title' | translate }}</h3>
    <p class="st__description">{{ 'account.security.description' | translate }}</p>

    <form [formGroup]="form" (ngSubmit)="save()">
      <app-input
        class="st__field"
        type="password"
        [toggleable]="true"
        formControlName="currentPassword"
        [label]="'account.security.current_password' | translate"
        autocomplete="current-password"
      />

      <app-input
        class="st__field"
        type="password"
        [toggleable]="true"
        formControlName="newPassword"
        [label]="'account.security.new_password' | translate"
        autocomplete="new-password"
        [errorMessage]="newPasswordError"
      />

      <app-input
        class="st__field"
        type="password"
        [toggleable]="true"
        formControlName="confirmPassword"
        [label]="'account.security.confirm_password' | translate"
        autocomplete="new-password"
        [errorMessage]="confirmPasswordError"
      />

      <div class="st__actions">
        <app-button type="submit" [loading]="saving()" [disabled]="form.invalid">
          {{ 'account.security.submit' | translate }}
        </app-button>
        @if (saved()) {
          <span class="st__success">{{ 'account.security.success' | translate }}</span>
        }
        @if (errorKey()) {
          <span class="st__error">{{ errorKey() }}</span>
        }
      </div>
    </form>
  </div>
</app-card>
